<div class="card" style="width: 18rem;">
    <img src="~/Assets/images/20190521_103755.jpg" class="about-me-img bg-success" alt="...">
    <div class="card-body">
        <h5 class="card-title">Nhat Linh</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
</div>
